html {
    background-color:#001DCB;
    font-family: Helvetica;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float:right;
    display: inline;
    padding: 14px 16px;
  }