
html {
    /*background-color:#001DCB;*/
    font-family: Helvetica;
    color: #F8F8F8;
}



body {
    font-family: 'Roboto', sans-serif;
    background:black;
}
nav {
    position: absolute;
    z-index: 100000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1.5rem;
  }

  li {
    display: inline;
    padding: 14px 16px;

  }

a {
    font-size: 0.9rem;
    color: #5B5B5B;
    transition: 1s;
    text-decoration:none;

}

a:hover {
    color:black;
    text-decoration:none;
}

h1,h2,h3 {
    letter-spacing: -01em;

}

button {
    font-size: 1rem;
    border: 0;
    z-index: 50000;
    cursor: pointer;
}

.ally-hidden-bg {
    overflow:hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ally-hidden {
    position:absolute;
    width: 1px; 
    height: 1px;
    margin: -1px;
}

.width-setter {
    padding: 0 20px;
}

.page {
    line-height: 2;
}

.header {
    position: relative;
    z-index: 10;
    margin-bottom: 80vh;
}

.site-title {
    width: 500px;
    font-size: 9.4vw;
	font-weight: bold;
	white-space: nowrap;
    text-align: left;    
    direction: rtl;
}

.profile-image {
    max-width:200px;
    margin: 3rem auto;
}

.scroll-content {
    position:relative;
    z-index:10;
}

.page {
	line-height: 2;
}
.scroll-lock {
	overflow: hidden;
}
.width-setter {
	padding: 0 20px;
}
/*project list*/

.project-content {
    margin-bottom: 50%;
}


.project-item {
    height: 100vh;
}

.project-num {
    display: block; 
    font-weight: normal;
}

.project-name {
    line-height:1.5em;
    display: block; 
    font-weight: normal;
}

.project-num {
    font-size:2rem;
}

.project-title {
    font-size: 2rem;
}


.project-desc {
    margin-bottom: 1em;
}

.project-btn {
    padding: 0.5em 1em;
    font-weight: bold;
    color: #fff;
    border-radius: 100px;
    background: #222;
}

/*footer*/

.copyright {
    margin-top: 5rem;
    padding: 1rem 0 3rem;
    border-top: 1px solid currentColor;
  /*CurrentColor: shows the currentColor used */
    font-size: 0.8rem;
    text-align: center;
}

/*panels*/

/* 3d panels */
.panels {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	perspective: 550px;
	transition: 0.5s opacity;
}
.panels.static-position {
	position: static;
    margin-top:-100vh;
}
.panel-list {
	transform-style: preserve-3d;
    transition:0.5s;
	will-change: transform;
}
.panel-item {
	position: absolute;
	left: 50vw;
	top: 50vh;
	width: 350px;
	height: 350px;
	margin: -150px 0 0 -150px;
	opacity: 0.9;
	transform-style: preserve-3d;
	transition: 0.5s;
}

.panel-item.active {
	opacity: 1;
}

.panel-item:hover {
	opacity: 1;
}
.panel-side {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 50px;
	background-size: cover;
	backface-visibility: hidden;
}
.panel-side img {
	position: absolute;
	left: 50%;
	top: 50%;
	width: auto;
	height: 100%;
	max-width: none;
	transform: translate(-50%, -50%);
	opacity: 0.2;
	mix-blend-mode: luminosity;
    border-radius: 50px;

}

.bottom-right {
    margin-bottom: 15px !important;
    font-size: 16px !important;
    display: inline-block !important;
}
.bottom-right:focus:after,
.bottom-right:hover:after {
    width: 100%;
    height: 3px
}

.bottom-right:before {
    width: 3px;
    height: 3px
}

.bottom-right:focus:before,
.bottom-right:hover:before {
    width: 3px;
    height: 100%
}

.bottom-right:after,
.bottom-right:before {
    top: 0;
    left: 0
}

/*Loading animation*/

@keyframes loader-ani {
    0% { transofrm: rotate(0);}
    100% { transform: rotate(360deg); }
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -10000;
    width: 100vw;
    height:100vh;
    background: #fff;
    opacity: 0;
    transition: 0.5s;
}

.before-load .loader-wrapper {
    opacity:1;
}

.loader {
    width: 20px;
    height: 30px;
    border: 5px solid #222;
    border-color: #222 transparent transparent;
    border-radius: 50%;
    animation: loader-ani 1s infinite linear;
}

.scroll-down:before {
    margin-left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid black;
    border-width: 0px 0 2px 2px;
}

.description{
    padding-left:6vw; 
    padding-top: 70%; 
    display: inline-block;  
    width: 400px;  
    font-size: 1.5rem
}
/* body {
    align-items: center;
    background: #E3E3E3;
    display: flex;
    height: 100vh;
    justify-content: center;
  } */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    padding-top: 15%;
    /* background: white;  */
    /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
    height:25em;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 2%;
  }
   .slider::before, .slider::after {
    /* background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%); */
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 100px;
    width: 250px;
    
  } 

  .slider img{
    padding: 1rem;
  }


  .name{
    position: absolute;
    top: 100px;
    height: 500px;
    height: 100vh;
    background: linear-gradient(to right,  #000000 60%, rgba(255, 255, 255, 0) 100%);
   z-index: 1000;
   line-height: 1; 
   font-size:9rem;
   transition: 0.5s ease-in-out;

   }

   .sub-header{
    margin-top: 15%; opacity: 0.4; 
    position:relative; background: linear-gradient(to right,  #000000 60%, rgba(255, 255, 255, 0) 100%);
    z-index: 1000;
    line-height: 1; 
    font-size:1rem;
    z-index: 10001;
}


.skill {
    font-size: 1rem;
    padding: 6%;
    margin-top: 10%;
    display:block;
}



footer {
    position: relative;
    bottom: 0;
    left: 0;
    right:0;
    height:auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align:center;
}

.footer-content h3{
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}


.socials{
    list-style:none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem;
}

.socials li{
    margin: 0 10px;

}

.socials a{
    text-decoration: none;
    color:white;
}

.socials a i{
    font-size: 1.1rem;
    transition:color .4s ease;
}

.socials a:hover i{
    color:aqua;

}

.footer-bottom{
    background: linear-gradient(transparent,var(--section-bg-color));
    width: 100vw;
    padding: 20px 0;
    text-align:center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: uppercase;
}



@media (min-width: 960px) {

    .skill {
        font-size: 1rem;
        margin-top: 10%;
        display: inline-block;  
    }

    .scroll-down:before {
        margin-left: calc(50% - 6px);
        transform: rotate(-45deg);
        display: block;
        width: 12px;
        height: 12px;
        content: "";
        border: 2px solid black;
        border-width: 0px 0 2px 2px;
    }
    
    .description{
        padding-left:6vw; 
        padding-top: 500px; 
        display: inline-block;  
        width: 600px;  
        font-size: 1.5rem
    }

    .name{
        position:absolute; top: 0; 
        background: linear-gradient(to right,  #000000 60%, rgba(255, 255, 255, 0) 100%);
       z-index: 1000;
       line-height: 1; 
       font-size:5rem;
       transition: 0.5s ease-in-out;

       }

    .sub-header{
        margin-top: 10%; opacity: 0.4; 
        position:relative; background: linear-gradient(to right,  #000000 60%, rgba(255, 255, 255, 0) 100%);
		z-index: 1000;
        line-height: 1; 
        font-size:1rem;
    }

    .width-setter {
        width: 920px;
        margin: 0 auto;
    }

    .site-title {
        font-size: 5.8rem;
        white-space: nowrap;
        direction: rtl;
    }
    
    .panel-side img {
        border-radius: 50px;
        opacity: 0.5;
    }

    .paragraph {
        column-count:3;
    }

    
}

@media (min-width: 1240px) {

    .project-num {
        font-size:2rem;
    }

    .project-title {
        font-size: 5rem;
    }

    .project-content {
        width:60%;
    }

    .project-desc{
        width: 70%;
    }

    .skill {
        font-size: 1rem;
        padding-left: 15%;
        margin-top: 10%;
        display: inline-block;  
    }

    .scroll-down:before {
        margin-left: calc(50% - 6px);
        transform: rotate(-45deg);
        display: block;
        width: 12px;
        height: 12px;
        content: "";
        border: 2px solid black;
        border-width: 0px 0 2px 2px;
    }
    

    .description{
        padding-left:6vw; 
        padding-top: 20%; 
        display: inline-block;  
        width: 600px;  
        font-size: 1.5rem
    }

    .name{
     position:absolute; top: 100px; 
     background: linear-gradient(to right,  #000000 60%, rgba(255, 255, 255, 0) 100%);
	z-index: 1000;
	    height:500px;
    line-height: 1; 
    font-size:12rem;
    transition: 0.5s ease-in-out;
    }

    .subheader{
        font-size:1rem;
	margin-top:2rem;
    }
    .width-setter {
        width: 1200px;
    }

    /* .site-title {
        font-size:7.0rem;
        direction: rtl;
    } */
}

